body {
  font-size: 17px;
  margin: 0.3in; padding: 0.3in; padding-top: 0.05in;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: right;
   right: 0.5in;
   font-size: 12px;
}

/* Button Customizations */
.button {
  background-color: #064991;
  border: none;
  color: #f7dd68;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
}

.button:hover {
  background-color: #f7dd68;
  color: #064991;
}

/* Animation Customizations */
#container {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container2 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container3 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container4 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container5 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container6 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#animate {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate2 {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate3 {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate4 {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate5 {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate6 {
  width: 100%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}

/* Dropdown Customizations */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.buttonactive{
  background-color: #f7dd68;
  color: #064991;
  font-size: 16px;
}

/* Blocks and Statements */
.statement {
  background-color: #c9ddf0;
  border-radius: 5pt;
}

.statementtitle{
  background-color: #f7dd68;
  color: #064991;
}

.descrip{
  width: 700px;
  word-wrap: break-word
}

/* Icons and Events Customizations */
ul.no_bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.coffee {
  background: url('/Images/coffee_icon.png') no-repeat left top;
  height: 100px;
  padding-left: 44px;
  padding-top: 0px;
}

li.announcement {
  background: url('/Images/announ.png') no-repeat left top;
  height: 50px;
  padding-left: 44px;
  padding-top: 3px;
}

tr.spaced>td {
  padding-top: 2em;
  padding-bottom: 2em;
}
