body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: blue;
}
p {
  color: red;
}

div.head1 {
  padding: 20px;
}

@media screen and (min-width: 601px) {
  div.head1 {
    font-size: 200px;
  }
}

@media screen and (max-width: 600px) {
  div.head1 {
    font-size: 100px;
  }
}
