body {
  font-family: 'Roboto', sans-serif;
}
div.head1 {
  padding: 20px;
}

/* @media screen and (min-width: 601px) {
  div.head1 {
    font-size: 200px;
  }
}

@media screen and (max-width: 600px) {
  div.head1 {
    font-size: 100px;
  }
} */

.topnav {
  overflow: hidden;
  background-color: #003660;
  font-weight: bold;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #FEBC11;
}

.topnav a.active {
  color: #FEBC11;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

div.intro_text {
  max-width: 80vw;
  margin-left: 3vw;
  font-size: 1.5em;
  line-height: 1.5em;
}
